In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.12/dist-packages (4.0.1)
Requirement already satisfied: py4j==0.10.9.9 in /usr/local/lib/python3.12/dist-packages (from pyspark) (0.10.9.9)

In [2]:
from pyspark.sql import SparkSession

spark=SparkSession.builder.appName("Day1").getOrCreate()
spark

In [3]:
data=[
    (1,"Akshay",1000),
    (2,"Kumar",2000),
    (3,"Sri",3000)
]
df=spark.createDataFrame(data,["Id","Name","Salary"])
df.show()

+---+------+------+
| Id|  Name|Salary|
+---+------+------+
|  1|Akshay|  1000|
|  2| Kumar|  2000|
|  3|   Sri|  3000|
+---+------+------+

In [5]:
df.select("Name","Salary").show()
df.withColumn("Salary_Hike",df.Salary*1.1).show()
df.filter(df.Salary>2000).show()

+------+------+
|  Name|Salary|
+------+------+
|Akshay|  1000|
| Kumar|  2000|
|   Sri|  3000|
+------+------+

+---+------+------+------------------+
| Id|  Name|Salary|       Salary_Hike|
+---+------+------+------------------+
|  1|Akshay|  1000|            1100.0|
|  2| Kumar|  2000|            2200.0|
|  3|   Sri|  3000|3300.0000000000005|
+---+------+------+------------------+

+---+----+------+
| Id|Name|Salary|
+---+----+------+
|  3| Sri|  3000|
+---+----+------+

In [11]:
df.filter(df.Id==3).select("Salary")*1.1

TypeError: unsupported operand type(s) for *: 'DataFrame' and 'float'